consumer_key: Aa1Aa1Aa1Aa1Aa1Aa1Aa1Aa1A
consumer_secret: Aa1Aa1Aa1Aa1Aa1Aa1Aa1Aa1Aa1Aa1Aa1Aa1Aa1Aa1Aa1Aa1Aa
users:
    - access_token: 0000000000000000000-Aa1Aa1Aa1Aa1Aa1Aa1Aa1Aa1Aa1Aa1
      access_token_secret: Aa1Aa1Aa1Aa1Aa1Aa1Aa1Aa1Aa1Aa1Aa1Aa1Aa1Aa1Aa1
      filters:
          - english
